[managers]
swarm-manager-1 ansible_hostname=${manager1-dns} ansible_host=${manager1-ip} # ${manager1-id}
swarm-manager-2 ansible_hostname=${manager2-dns} ansible_host=${manager2-ip} # ${manager2-id}
swarm-manager-3 ansible_hostname=${manager3-dns} ansible_host=${manager3-ip} # ${manager3-id}

[workers]
swarm-worker-1 ansible_hostname=${worker1-dns} ansible_host=${worker1-ip} # ${worker1-id}
swarm-worker-2 ansible_hostname=${worker2-dns} ansible_host=${worker2-ip} # ${worker2-id}
swarm-worker-3 ansible_hostname=${worker3-dns} ansible_host=${worker3-ip} # ${worker3-id}

[managers_priv]
${manager1-priv-ip}
${manager2-priv-ip}
${manager3-priv-ip}

[workers_priv]
${worker1-priv-ip}
${worker2-priv-ip}
${worker3-priv-ip}
